*, *::before, *::after {
  box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
}

#sidebar{
    min-width: 20vw;
    height: 100vh;
    background-color: rgb(95, 171, 194);
}

#project-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

#project-header{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#to-do-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    gap: 5px;
}

#addToDoForm{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.toDoItem{
    width: 50%;
    background-color: rgb(235, 194, 216);
    border: 1px solid rgb(179, 93, 93);
    border-radius: 8px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 2px;
}

.toDoItem > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.toDoItemDetails{
    width: 100%;
    display: flex;
    justify-content: center;
}

.checkbox{
    width: 20px;
}